/* ScoreAverageAndAcumulations */
.info:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(230, 17%, 14%);
  cursor: pointer;
  border-radius: 1rem;
}

/* md ... */
@media screen and (min-width: 576px) and (max-width: 990px) {
  .card {
    width: 75%;
  }

  .card-info {
    width: 100%;
  }
}

/* lg + ... */
@media screen and (min-width: 991px) {
  .card {
    width: 50%;
  }

  .card-info {
    width: 90%;
  }
}
